<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ricerice.mymodulebiz.mapper.RoleMapper">

	<resultMap id="RoleResultVo" type="com.ricerice.mymoduleapi.entity.Role">
		<id property="roleCode"		column="role_code"/>
		<id property="roleName" 	column="role_name"/>
	</resultMap>

	<!-- 通过用户ID，查询角色信息-->
	<select id="listRolesByUserId" resultMap="RoleResultVo">
		SELECT role.role_code role_code,
			   role.role_name role_name
		FROM role,
			 user_role
		WHERE role.role_code = user_role.role_code
		  and user_role.ehr_no = #{userId}
	</select>
</mapper>
