<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ricerice.mymodulebiz.mapper.UserMapper">

	<resultMap id="UserResultVo" type="com.ricerice.mymoduleapi.dto.UserDTO">
		<id property="userId"		column="user_id"/>
		<id property="ehrNo" 		column="ehr_no"/>
		<id property="name" 		column="name"/>
		<id property="brNo" 		column="br_no"/>
		<id property="deptName"		column="dept_name"/>
		<id property="ehrStatus" 	column="ehr_status"/>
		<id property="delFlag" 		column="del_flag"/>
		<collection property="roleList" ofType="com.ricerice.mymoduleapi.entity.Role"
					select="com.ricerice.mymodulebiz.mapper.RoleMapper.listRolesByUserId" column="ehr_no">
		</collection>
	</resultMap>

	<sql id="selectUserVO">
		SELECT user_id, ehr_no, u.name, br_no, ehr_status, d.name dept_name
		FROM pig_test.user u
		left join pig_test.dept d on u.br_no = d.dept_id
	</sql>

	<select id="selectUserList" parameterType="com.ricerice.mymoduleapi.dto.UserDTO" resultMap="UserResultVo">
		<include refid="selectUserVO"/>
		<where>
			u.del_flag = '0'
			<if test="query.name != null and query.name != ''">
				<bind name="nameLike" value="'%'+query.name+'%'"/>
				AND u.name LIKE #{nameLike}
			</if>
			<if test="query.ehrNo != null and query.ehrNo != ''">
				AND u.ehr_no = #{query.ehrNo}
			</if>
			<if test="query.brNo != null and query.brNo != ''">
				AND (u.br_no = #{query.brNo} OR u.br_no in (
					select dept_id
					from dept
					where LOCATE(#{query.brNo}, ancestors) > 0
				))
			</if>
		</where>
	</select>

	<select id="getUserById" resultMap="UserResultVo">
		<include refid="selectUserVO"/>
		WHERE
        u.user_id = #{userId} and u.del_flag = '0'
	</select>
</mapper>
